@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #121212;
    padding: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo i {
    font-size: 24px;
}

.nav-library {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-library i, .nav-library p {
    color: #b7b3b6;
    font-size: 14px;
    cursor: pointer;
}

.nav-playlist, .nav-podcast {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
}

.nav-playlist button, .nav-podcast button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 6px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
}

.nav-footer {
    margin-top: auto;
}

.nav-footer a{
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.nav-lang-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
}

main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;
    background: #0a0909;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 5px 10px;
    border-radius: 20px;
    width: 220px;
    transition: background-color 0.3s ease-in-out;
}

.search-bar:hover, .search-bar:focus-within {
    background-color: #333;
}

.search-bar input {
    background: transparent;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 12px; 
    outline: none;
}

.artists-grid, .albums-grid {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
}

.artist-card, .album-card {
    background-color: transparent;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 180px;
}

.artist-card:hover, .album-card:hover {
    background-color: #100f0f;
}

.artist-card img, .album-card img {
    width: 100%;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 2px;
    object-fit: cover;
}

.artist-card h3, .album-card h3 {
    font-size: 12px;
    text-align: left;
}

.artist-card p, .album-card p {
    font-size: 12px;
    color: #b7b3b6;
    font-weight: bold;
    text-align: left;
}

.content {
    margin-top: 20px;
}

.banner {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, #af2896, #509bf5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.banner h2 {
    font-size: 12px;
}

.banner p {
    font-size: 14px;
}

.banner button {
    border-radius: 20px;
    color: #000;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 12px;
}

.banner button:hover {
    background-color: #000;
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    .nav-logo, .nav-library {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .search-bar {
        margin-top: 10px;
    }
    .nav-lang-button {
        align-self: flex-start;
    }
    .artists-grid, .albums-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}

@media (max-width: 350px) {
    .search-bar input {
        max-width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
        margin-left: 5px;
    }
}